*{
    box-sizing: border-box;
}
body{
    background-color: coral;
}

.container{
    position: relative;
    margin: 200px auto;
    width: 300px;
    height: 300px;
    perspective: 500px;
}

.cube{
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    transition: all 1s ease;
}

.side{
    background-color: blue;
    position: absolute;
    width: inherit;
    height: inherit;
    border: 5px solid #fff;
    font: normal 70px Arial;
    text-align: center;
    line-height: 300px;
    color: #fff;
    backface-visibility: hidden;
}
.front{
    transform: translateZ(150px);
}
.back{
    transform: rotateY(180deg) translateZ(150px);
}
.right{
    transform: rotateY(90deg) translateZ(150px);
}
.left{
    transform: rotateY(-90deg) translateZ(150px);
}
.top{
    transform: rotateX(90deg) translateZ(150px);
}
.bottom{
    transform: rotateX(-90deg) translateZ(150px);
}

/* .cube:hover{
    transform: rotateY(180deg);
} */

.cube{
    animation: cube 10s ease infinite  ;
}
@keyframes cube{ 
    0% 100%{
        transform: rotate3d(1, 1, 2, 180deg);
    }
    25%{
        transform: rotate3d(1, 2, 1, 270deg);
    }
    50%{
        transform: rotate3d(2, 1, 1, 180deg);
    }
}